		h2 {
			font-family: AppleKid;
			font-size: 28px;
		}
		h1 {
			font-family: AppleKid;
			font-size: 42px;
		}
		@font-face {
			font-family: AppleKid;
			src: url('images/Apple-Kid.woff2') format('woff2'),
				url('images/Apple-Kid.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
        p.small {
            line-height: 1;
        }
		.mainContent {
			font-family: AppleKid;
			font-size: 24px;
		}